<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ozyaysan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections> 
  <applicationSettings>
    <Ozyaysan.Properties.Settings>
      <setting name="TargetPath" serializeAs="String">
        <value>D:\MURAT\MURAT\Personal\Project\Özyaysan\20171102Ozyaysan\Ozyaysan\Resimler</value>
      </setting>
      <setting name="TargetTecniquePath" serializeAs="String">
        <value>D:\MURAT\MURAT\Personal\Project\Özyaysan\20171102Ozyaysan\Ozyaysan\Resimler\TeknikResim</value>
      </setting>
    </Ozyaysan.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=xxx\xxx;Initial Catalog=xxx;User ID=xxx;Password=xxx"/>
    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
